<style>


    .card {
        padding: 20px;
        margin-top: 2opx;
    }

    .leftcolumn {
        width: 50%;
        float: left;
        margin-right: 300px;
    }

    h1 {
        background-color: black;
        color: white;
        size-adjust: 10px;
    }

    .new {
  position: absolute;
  top: 20px;
  right: 45px;
}

.delete {
    position: absolute;
    top: 20px;
    right: 125px;
}

</style>

<title>{{post.title}}</title>

{% if user.is_authenticated %}
<div class="new">
    <a href="../new" style="text-decoration: none; color: black;">New post</a>
</div>

<div class="delete">
    <a href="../delete/{{post.id}}" style="text-decoration: none; color: black;">Delete post</a>
</div>
{% endif %}

<div class="row">
    <div class="leftcolumn">
        <div class="card">

        <h1>{{post.title}}</h1>
        <a href="../profile/{{post.author.username}}" style="text-decoration: none; color: black;"><h4>By: {{post.author.first_name}}</h4></a>
        <p>{{post.content}}</p>
        <h6>{{post.post_time}}</h6>

        </div>
    </div>
</div>